.passwordpage .alert {
  position: fixed;
  padding: 20px;
  z-index: 5;
  width: 60vw;
  left: 20vw;
  top: 20vh;
  height: 40vh;
  border: 1px black solid;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  background-color: white;
  color: #1f2231;
}
.passwordpage .alert img {
  width: 200px;
}

.passwordpage form {
  border: 1px solid white;
  border-radius: 15px;
  padding: 20px;
  height: 40vh;
}

.passwordpage form section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 30vh;
}
.passwordpage form section div {
  display: flex;
  justify-content: space-evenly;
}

.passwordpage form input {
  width: 65%;
}
