@import url("https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Lusitana:wght@400;700&family=Mansalva&family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&display=swap");

body {
  background-color: #1f2231;
  color: white;
  font-family: "Noto Serif Display", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-size: 19px;
  line-height: 26px;
}
a {
  color: white;
  text-decoration: none;
}
main {
  width: 80vw;
  margin: auto;
  margin-top: 200px;
}
.fixedWidth {
  overflow-x: hidden;
}

h1 {
  font-family: "Lusitana", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 26px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-bottom: 1px rgba(255, 255, 255, 0.4) solid;
}

h2 {
  font-family: "Lusitana", serif;
  font-weight: 400;
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 20px;
  margin: auto;
  width: 90vw;
}
h3 {
  font-family: "Lusitana", serif;
  font-weight: 400;
  font-size: 22px;
  font-weight: 600;
  padding-bottom: 10px;
  padding-top: 10px;
}

h4 {
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 10px;
  padding-top: 10px;
}
main:not(.modal) {
  max-width: 1200px;
}
strong {
  font-weight: 700;
}
header {
  z-index: 2;
}
li {
  list-style: "✒︎";
  padding-left: 5px;
  margin-left: 20px;
}
button {
  background-color: #1f2231;
  color: white;
  border: none;
  border: 1px solid white;
  border-radius: 25px;
  transition: 0.5s;
  min-height: 30px;
}
button:hover {
  color: #1f2231;
  background-color: white;
}
.scroll-lock {
  overflow: hidden;
}
div::-webkit-scrollbar {
  display: none;
}
.alert {
  position: fixed;
  padding: 20px;
  z-index: 5;
  width: 60vw;
  left: 30vw;
  top: 20vh;
  height: 40vh;
  border: 1px white solid;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  background-color: white;
  color: #1f2231;
}
.alert img {
  width: 200px;
}

.book3D {
  position: relative;
  margin-bottom: 10px;
  transition: 0.5;
  filter: drop-shadow(10px 10px 15px #000000b0);
}

.book3D:hover {
  filter: drop-shadow(10px 10px 15px #ffffffb0);
}
.book3D .mockup {
  top: 0px;
  left: 0px;
  position: absolute;
}

.book3D .book-cover {
  transform: matrix3d(
      1.08,
      0.2,
      0,
      0,
      -0,
      1.06,
      0,
      0,
      0,
      0,
      2,
      0,
      4,
      -0.15,
      0,
      1
    )
    rotate(1deg);
  position: absolute;
}
